Repository wwmoraes/nurpkgs: changes, and which lefthook commands are due for each by the changed paths.
All: fix-yaml, lint-task, lint-yaml

fix-yaml:
  priority: 1
  run: yamlfixer -s {staged_files}
  stage_fixed: true

lint-task:
  priority: 10
  run: task -a -j > /dev/null

lint-yaml:
  priority: 10
  run: yamllint {staged_files}

docs: added cache instructions and task
  README.md
  Taskfile.yaml
Due: fix-yaml, lint-task, lint-yaml

chore: added nix lint task & hook
  .lefthook.yaml
  Taskfile.yaml
Due: fix-yaml, lint-task, lint-yaml

feat: added nix-darwin modules
  default.nix
  nix-darwin/modules/authorizationdb.nix
  nix-darwin/modules/default.nix
  nix-darwin/modules/infopath.nix
  nix-darwin/modules/manpath.nix
  nix-darwin/modules/pmset.nix
Due: none

ci: added integration + cache push :)
  .github/workflows/integration.yaml
  .task/.gitignore
  shell.nix
Due: fix-yaml, lint-yaml

chore: updated goutline dependencies
  TODO.md
  default.nix
  pkgs/goutline/default.nix
  pkgs/goutline/go-mod.patch
Due: none

chore: updated goutline dependencies
  TODO.md
  default.nix
  pkgs/goutline.nix
  pkgs/goutline/default.nix
  pkgs/goutline/go-mod.patch
Due: none

chore(ejson): updated maintainers
  pkgs/ejson.nix
Due: none

build: added my maintainer details "overlay"
  default.nix
Due: none

docs: updated readme
  README.md
Due: none

feat: added asyncapi
  default.nix
  pkgs/asyncapi.nix
Due: none

refactor(asyncapi): use store-imported npm lock deps
  pkgs/asyncapi.nix
Due: none

feat: added codecov-cli-bin
  default.nix
  pkgs/codecov-cli-bin.nix
Due: none

chore: added eval task
  .gitmodules
  Taskfile.yaml
Due: fix-yaml, lint-task, lint-yaml

chore: updated tasks
  Taskfile.yaml
Due: fix-yaml, lint-task, lint-yaml

ci: queue NUR update :)
  .github/workflows/integration.yaml
Due: fix-yaml, lint-yaml

fix: asyncapi NPM lock
  pkgs/asyncapi.nix
Due: none

feat: add visudo package
  default.nix
  pkgs/visudo.nix
Due: none

ci: update action versions
  .github/workflows/integration.yaml
Due: fix-yaml, lint-yaml

build: add yq-go for git diff
  shell.nix
Due: none

refactor(visudo): statically build visudo
  pkgs/visudo.nix
Due: none

build: add per-package push task
  Taskfile.yaml
Due: fix-yaml, lint-task, lint-yaml

refactor(visudo): disable loading sudo.conf
  pkgs/visudo.nix
Due: none

feat: add git-credential-azure
  default.nix
  pkgs/git-credential-azure.nix
Due: none

chore: drop unused packages
  default.nix
  pkgs/asyncapi.nix
  pkgs/ejson.nix
  pkgs/go-commitlint.nix
  shell.nix
Due: none

build: use op plugin when calling cachix
  Taskfile.yaml
Due: fix-yaml, lint-task, lint-yaml

refactor: add mainProgram meta to pkgs
  pkgs/git-credential-azure.nix
  pkgs/gopium.nix
  pkgs/goutline/default.nix
  pkgs/kroki-cli.nix
  pkgs/pkgsite.nix
Due: none

fix(pkgs): pkgsite build
  default.nix
  pkgs/pkgsite.nix
Due: none

chore: drop gopium
  default.nix
  pkgs/gopium.nix
Due: none

chore: drop pkgsite
  default.nix
  pkgs/pkgsite.nix
Due: none

feat: add nix-installer flake
  flake.lock
  flake.nix
Due: none

chore: use nix flake to build
  Makefile
  flake.nix
Due: none

feat: add update-motd
  default.nix
  pkgs/update-motd.nix
Due: none

feat: add Realtek 8127 10G ethernet driver
  default.nix
  overlays/default.nix
  overlays/r8127.nix
  pkgs/r8127.nix
Due: none

refactor: replace rec with finalAttrs composition
  flake.lock
  flake.nix
  pkgs/codecov-cli-bin.nix
  pkgs/git-credential-azure.nix
  pkgs/goutline/default.nix
  pkgs/kroki-cli.nix
  pkgs/kroki.nix
  pkgs/structurizr-cli.nix
  pkgs/structurizr-site-generatr.nix
  pkgs/yamlfixer.nix
Due: none

refactor: cleanup flake and modules support
  Makefile
  default.nix
  flake.nix
  modules/flake/default.nix
Due: none

feat: passthrough overlays to plain flake
  flake.nix
Due: none

chore: reorder substitutes
  flake.nix
Due: none

feat: add laminar client
  default.nix
  pkgs/laminar-client/default.nix
  pkgs/laminar-client/patches/capnp-no-standard-import.patch
  pkgs/laminar-client/patches/client-only.patch
Due: none

chore: update editorconfig settings
  .editorconfig
Due: none

Path conditions:
  fix-yaml: any of: *.{yml,yaml}
  lint-task: any of: {T,t}askfile.{yml,yaml}
  lint-yaml: any of: *.{yml,yaml}
